<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% block head %}
    <title>CAD Scanner Web {% block title %}{% endblock %}</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}media/css/style.css" type="text/css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
    <h2>{% block header %}CAD Scanner Web{% endblock %}</h2>
    <header class="mainHeader">
        <nav><ul id="navigation">
            <li><a href="home">Home</a></li>
            <li><a href="download">Download</a></li>
            <li><a href="schedule">Schedule</a></li>
            <li><a href="scan">Scan</a></li>
            <li><a href="analyze">Analyze</a></li>
            <li><a href="report">Report</a></li>
        </ul></nav>
    </header>
    <div class="mainContent">
        <div class="content">
            <h2>{% block contenttitle %}Content{% endblock %}</h2>
            {% block content %}
            <ul id="content">
                {% for file in filelist %}
                <li>{{ file }}</li>
                {% endfor %}
            </ul>
            {% endblock %}
        </div>
    </div>

    <footer class="mainFooter">
        <p>
            {% block footer %}
            CAD Scanner &copy Copyright 2014 <a href="http://www.enspirea.com/">Enspirea</a>
            {% endblock %}
        </p>
    </footer>
</body>
</html>
