{% extends "baseTemplate.html" %}
{% block contenttitle %}
    Step files from following url (if any) are to be downloaded:
{% endblock %}
{% block content %}
<table>
    {% for url in urllist %}
     <tr><td>{{ url }}</td></tr>
    {% endfor %}
</table>
{% endblock %}
