{% extends "baseTemplate.html" %}
{% block title %}Home{% endblock %}
{% block header %}
    Welcome to CAD Scanner Web
{% endblock %}
{% block contenttitle %}
What CAD Scanner Web does:
{% endblock %}
{% block content %}
<ul> 
<li>
Web search:<BR>
Collects candidate URLs that might include CAD data, specifically in STEP (*.stp) format
</li>
<li>
Web crawling (download):<BR>
<li>
Search the given URL to locate any link to a STEP file, then download them in local directory
</li>
<li>
Cataloging:<BR>
Store the downloaded file and its origin (URL) in the database for the target of data scan
</li>
<li>
Scanning CAD data:<BR>
Render the 3D image of CAD data, outputting X/Y/Z/Isometric images and parameters
</li>
<li>
Analyzing CAD data<BR>
Calculates metadata for the given CAD data, e.g. volumes, number of surfaces etc.
</li>
<li>
Reporting<BR>
List all CAD data files with thumbnail and analyzed values
</li>
</ul>
{% endblock %}
