{% extends "baseTemplate.html" %}
{% block title %}Report{% endblock %}
{% block contenttitle %}{% endblock %}
{% block content %}
<table>
    <tr>
        <td>name</td>
        <td>image X</td>
        <td>image Y</td>
        <td>image Z</td>
        <td>image ISOMETRIC</td>
        <td>URL</td>
        <td># of surfaces</td>
        <td>surface area</td>
        <td>unit</td>
        <td>vol</td>
        <td>Min boxes</td></tr>
    </tr>
  {% for objInst in datalist %}
    <tr>
        <td>{{ objInst.filename }}</td>
        <td>{{ objInst.imgFileX }}</td>
        <td>{{ objInst.imgFileY }}</td>
        <td>{{ objInst.imgFileZ }}</td>
        <td>{{ objInst.imgFileISOMETRIC }}</td>
        <td>{{ objInst.url }}</td>
        <td>{{ objInst.numSurface }}</td>
        <td>{{ objInst.surfaceArea }}</td>
        <td>{{ objInst.unit }}</td>
        <td>{{ objInst.volume }}</td>
        <td>{{ objInst.boxes }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
