<!doctype html>
<html>
<head>
  <title>CAD Scanner Web</title>
  <link rel="stylesheet" href="media/css/style.css" type="text/css"/>
</head>
<body>
 <center>
<br><br><br><br><br><br><br><br>
   <img src="media/img/CADScannerBanner.png" alt="CAD Scanner" width=600>

   <form action="search_submit" method="POST" name="search_submit">
     <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
     <input value="{{ search_keyword }}" name ="search_keyword">
     <button type="submit">search</button>
  </form>
    <p>
CAD Scanner &copy Copyright 2014 <a href="http://www.enspirea.com/">Enspirea</a>
    </p>
 </center>
</html>
