<!doctype html>
<html>
<head>
  <title>CAD Scanner Web</title>
  <link rel="stylesheet" href="media/css/style.css" type="text/css"/>
</head>
<body>
<!--  <header class="mainFooter">
     <p>Search result</p>
  </header>
-->
   <img src="media/img/CADScannerBanner.png" alt="CAD Scanner" width=200>
   <form action="search_submit" method="POST" name="search_submit">
     <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
     <input value="{{ search_keyword }}" name ="search_keyword">
     <button type="submit">search</button>
  </form>

  <table>
    <tr>
        <b>
        <td>TITLE</td>
        <td>NAME</td>
        <td>X</td>
        <td>Y</td>
        <td>Z</td>
        <td>ISOMETRIC</td>
        <td>Volume</td>
        <td>MBOX</td>
        </b>
    </tr>

  {% for objInst in datalist %}
    <tr>
        <td><a href="{{ objInst.baseurl }}" class="searchlink">{{ objInst.title }}</a></td>
        <td>{{ objInst.filename }}</td>
        <td>{{ objInst.imgFileX }}</td>
        <td>{{ objInst.imgFileY }}</td>
        <td>{{ objInst.imgFileZ }}</td>
        <td>{{ objInst.imgFileISOMETRIC }}</td>
        <td>{{ objInst.volume }}</td>
        <td>{{ objInst.originalbox }}</td>
    </tr>
  {% endfor %}
  </table>
  <footer class="mainFooter">
      <p>
          CAD Scanner &copy Copyright 2014 <a href="http://www.enspirea.com/">Enspirea</a>
      </p>
  </footer>
</body>
