body{
    backkground-image: url("img/bg.png");
    color: #000305;
    font-size: 87.5%;
    font-family: Arial, 'Lucica Sans Unicode';
    line-height: 1.2;
    text-align: left;
}

.body{
    margin: 0 auto;
    width: 90%;
    clear: both;
}

.a{
    text-decoration: none;
}

a:link, a:visited{
    color: #CF5C3F;
}

a:hover, a:active{
    color: #CF5C3F;
/*    color: #FFF; */
}

.mainHeader nav{
    background-color: #666;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainHeader nav ul{
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li{
    float: left;
    display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
    background-color: #CF5C3F;
    text-shadow: none;
}

.mainHeader nav ul li a{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainContent{
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.content{
    width: 90%;
    float: left;
}

.mainFooter{
    width: 100%;
    float: left;
    border: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #666;
    margin: 2% 0;
}

.mainFooter p{
    width: 92%;
    margin: 1% auto;
    color: #FFF;
}
